.vscode/
.idea/
node_modules/
package-lock.json
logs/venv
website/
code_records/
scratch.js
bots/**/action-code/**
bots/**/
keys.json
gen-lang-client***.json
services/viaproxy/jars/**
services/viaproxy/logs/**
services/viaproxy/plugins/**
services/viaproxy/ViaLoader/**
services/viaproxy/saves.json
services/viaproxy/viaproxy.yml
services/mc
tmp/
src/server/analytics
wandb/
experiments/
andy_*.json
jill_*.json
src/models/logs/*
server_data/*
results/*
tasks/construction_tasks/test_multiagent_construction_tasks.json
tasks/construction_tasks/train_multiagent_construction_tasks.json
tasks/construction_tasks/test/**
tasks/construction_tasks/train/**
server_data*
**/.DS_Store
._*
twitch-integration.js
test-mindserver-connection.js
setup-twitch-integration.js

# DO NOT ignore `settings.js` as it is a required file for the repo to function.
# If `settings.js` is put in the `.gitignore` file, changes made to do things like add new features - e.g. adding a new key to the file
# will not be pushed to the repo.

# Instead, when playtesting, run this command:

# git update-index --assume-unchanged settings.js

# This will tell `git` to ignore any changes made to settings.js.
    
# Then, when you have finished, clean up settings.js and run this command:

# git update-index --no-assume-unchanged settings.js

# This will tell `git` to start tracking changes to `settings.js` again.

settings.js.backup
.kilocode/mcp.json
pnpm-workspace.yaml
pnpm-lock.yaml

.logging_consent
# This file would have {"consent": null}, {"consent": false}, or {"consent": true} be set.
# If the file doesn't exist, we can assume `consent` is `null`.